<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品列表</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.min.css"
    />
  </head>
  <body>
    <style>
      img {
        object-fit: contain;
        max-width: 100%;
      }
      .primary-image {
        height: 300px;
      }
      .images {
        height: 150px;
      }
    </style>
    <div id="app">
      <div v-if="token" class="container">
        <div class="text-end mt-4">
          <button @click="openModal('productModal')" class="btn btn-primary">
            建立新的產品
          </button>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th width="120">分類</th>
              <th>產品名稱</th>
              <th width="120">原價</th>
              <th width="120">售價</th>
              <th width="100">是否啟用</th>
              <th width="120">查看細節</th>
              <th width="120">編輯</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <td>{{ item.category }}</td>
              <td>{{ item.title }}</td>
              <td>{{ item.origin_price }}</td>
              <td>{{ item.price }}</td>
              <td>
                <span :class="item.is_enabled ? 'text-success' : 'text-danger'"
                  >{{ item.is_enabled ? "啟用" : "未啟用" }}</span
                >
              </td>
              <td width="120">
                <button
                  type="button"
                  class="btn btn-primary"
                  @click="openModal('productDetailModal', item)"
                >
                  查看細節
                </button>
              </td>
              <td>
                <div class="btn-group">
                  <button
                    @click="openModal('editModal', item)"
                    type="button"
                    class="btn btn-outline-primary btn-sm"
                  >
                    編輯
                  </button>
                  <button
                    @click="openModal('delProductModal', item)"
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                  >
                    刪除
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 登入前 -->
      <div v-else class="container">
        <div class="row justify-content-center">
          <h1 class="h3 my-3 font-weight-normal text-center">請先登入</h1>
          <div class="col-8">
            <form id="form" class="form-signin">
              <div class="form-floating mb-3">
                <input
                  v-model="user.username"
                  type="email"
                  class="form-control"
                  id="username"
                  placeholder="name@example.com"
                  required
                  autofocus
                />
                <label for="username">Email address</label>
              </div>
              <div class="form-floating">
                <input
                  v-model="user.password"
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                  required
                />
                <label for="password">Password</label>
              </div>
              <button
                @click.prevent="login"
                class="btn btn-lg btn-primary w-100 mt-3"
                type="submit"
              >
                登入
              </button>
            </form>
          </div>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2021~∞ - 六角學院</p>
      </div>
      <!-- Modal -->
      <div
        id="productDetailModal"
        ref="productDetailModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="productDetailModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <template v-if="currentProduct.title">
              <div class="modal-header bg-dark text-white">
                <h4 id="productDetailModalLabel" class="modal-title">
                  <span>{{ currentProduct.title }}</span>
                </h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="card mb-3">
                  <div class="card-body d-flex">
                    <img
                      :src="currentProduct.imageUrl"
                      class="primary-image me-2"
                      alt="主圖"
                    />
                    <div>
                      <h4 class="card-title mb-4">
                        {{ currentProduct.title }}
                        <span class="badge bg-primary ms-2"
                          >{{ currentProduct.category }}</span
                        >
                      </h4>
                      <p class="card-text">
                        商品描述：{{ currentProduct.description }}
                      </p>
                      <p class="card-text">
                        商品內容：{{ currentProduct.content }}
                      </p>
                      <div class="d-flex">
                        <p class="card-text me-2">{{ currentProduct.price }}</p>
                        <p class="card-text text-secondary">
                          <del>{{ currentProduct.origin_price }}</del>
                        </p>
                        元 / 個
                      </div>
                    </div>
                  </div>
                </div>
                <template
                  v-for="(image, index) in currentProduct.imagesUrl"
                  :key="index"
                >
                  <img :src="image" alt="" class="images m-2" />
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
      <div
        id="productModal"
        ref="productModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="productModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 id="productModalLabel" class="modal-title">
                <span v-if="isNew">新增產品</span>
                <span v-else>編輯產品</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row mb-4">
                <div class="col-sm-4">
                  <div class="mb-2">
                    <div class="mb-3">
                      <label for="imageUrl" class="form-label"
                        >輸入圖片網址</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="請輸入圖片連結"
                        v-model="currentProduct.imageUrl"
                      />
                    </div>
                    <img
                      class="img-fluid"
                      :src="currentProduct.imageUrl"
                      v-if="currentProduct.imageUrl"
                      alt="主圖"
                    />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="mb-3">
                    <label for="title" class="form-label">標題</label>
                    <input
                      id="title"
                      type="text"
                      class="form-control"
                      placeholder="請輸入標題"
                      v-model="currentProduct.title"
                    />
                  </div>

                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="category" class="form-label">分類</label>
                      <input
                        id="category"
                        type="text"
                        class="form-control"
                        placeholder="請輸入分類"
                        v-model="currentProduct.category"
                      />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">單位</label>
                      <input
                        id="unit"
                        type="text"
                        class="form-control"
                        placeholder="請輸入單位"
                        v-model="currentProduct.unit"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      <label for="origin_price" class="form-label">原價</label>
                      <input
                        id="origin_price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入原價"
                        v-model.number="currentProduct.origin_price"
                      />
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="price" class="form-label">售價</label>
                      <input
                        id="price"
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="請輸入售價"
                        v-model.number="currentProduct.price"
                      />
                    </div>
                  </div>
                  <hr />
                  <div class="mb-3">
                    <label for="description" class="form-label">產品描述</label>
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入產品描述"
                      v-model="currentProduct.description"
                    >
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">說明內容</label>
                    <textarea
                      id="description"
                      type="text"
                      class="form-control"
                      placeholder="請輸入說明內容"
                      v-model="currentProduct.content"
                    >
                    </textarea>
                  </div>
                  <div class="mb-3">
                    <div class="form-check">
                      <input
                        id="is_enabled"
                        class="form-check-input"
                        type="checkbox"
                        :true-value="1"
                        :false-value="0"
                        v-model="currentProduct.is_enabled"
                      />
                      <label class="form-check-label" for="is_enabled"
                        >是否啟用</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="mb-2">多圖新增</h4>
              <div v-if="currentProduct.imagesUrl">
                <div class="row mb-2">
                  <div
                    class="col-6 mb-1"
                    v-for="(image, index) in currentProduct.imagesUrl"
                    :key="index"
                  >
                    <div class="mb-3">
                      <label :for="`imagesUrl${index}`" class="form-label"
                        >圖片網址</label
                      >
                      <input
                        :id="`imagesUrl${index}`"
                        v-model="currentProduct.imagesUrl[index]"
                        type="text"
                        class="form-control"
                        placeholder="請輸入圖片連結"
                      />
                    </div>
                    <img class="images" :src="image" />
                  </div>
                </div>
                <div
                  v-if="!currentProduct.imagesUrl.length || currentProduct.imagesUrl.length < 5"
                >
                  <button
                    class="btn btn-outline-primary btn-sm d-block w-100 mb-3"
                    @click="currentProduct.imagesUrl.push('')"
                  >
                    新增圖片
                  </button>
                </div>
                <div v-if="currentProduct.imagesUrl.length">
                  <button
                    class="btn btn-outline-danger btn-sm d-block w-100"
                    @click="currentProduct.imagesUrl.pop()"
                  >
                    刪除圖片
                  </button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button
                type="button"
                class="btn btn-primary"
                v-if="isNew"
                @click="addProduct"
              >
                確認
              </button>
              <button
                type="button"
                class="btn btn-primary"
                v-else
                @click="editProduct"
              >
                確認
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        id="delProductModal"
        ref="delProductModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="delProductModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header bg-danger text-white">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger">{{ currentProduct.title }}</strong>
              商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="delProduct">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.3/dist/sweetalert2.all.min.js"
      crossorigin="anonymous"
    ></script>
    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      const url = "https://ec-course-api.hexschool.io/v2";
      const path = "ming777";
      const sweetMessage = {
        icon: "",
        title: "",
        showConfirmButton: false,
        timer: 1500,
      };
      let productDetailModal = null;
      let productModal = null;
      let delProductModal = null;

      const app = {
        data() {
          return {
            token: "",
            user: {
              username: "",
              password: "",
            },
            currentProduct: {
              imagesUrl: [],
            },
            products: [],
            isNew: false,
          };
        },
        methods: {
          login() {
            axios
              .post(`${url}/admin/signin`, this.user)
              .then((res) => {
                const { token, expired } = res.data;
                document.cookie = `hexToken= ${token}; expires=${new Date(
                  expired
                )};`;
                this.setSweetMessageSuccess(res.data.message);
                Swal.fire(sweetMessage);
                setTimeout(() => {
                  this.checkLogin();
                }, 1500);
              })
              .catch((err) => {
                this.setSweetMessageError(err.data.message);
                Swal.fire(sweetMessage);
              });
          },
          checkLogin() {
            this.token = document.cookie.replace(
              /(?:(?:^|.*;\s*)hexToken\s*\=\s*([^;]*).*$)|^.*$/,
              "$1"
            );
            axios.defaults.headers.common["Authorization"] = this.token;
            if (this.token) {
              axios
                .post(`${url}/api/user/check`)
                .then(() => {
                  this.getAllProduct();
                })
                .catch((err) => {
                  this.setSweetMessageError(err.data.message);
                  Swal.fire(sweetMessage);
                });
            }
          },
          getAllProduct() {
            axios
              .get(`${url}/api/${path}/admin/products`)
              .then((res) => {
                this.products = res.data.products;
                // 使用 all API, 取得 products
                // Object.values(res.data.products).forEach((item) => {
                //   this.products.push(item);
                // });
              })
              .catch((err) => {
                this.setSweetMessageError(err.data.message);
                Swal.fire(sweetMessage);
              });
          },
          addProduct() {
            if (this.currentProduct.imagesUrl.length === 0)
              this.currentProduct.imagesUrl.push("");
            axios
              .post(`${url}/api/${path}/admin/product`, {
                data: this.currentProduct,
              })
              .then((res) => {
                this.setSweetMessageSuccess(res.data.message);
                Swal.fire(sweetMessage);
                setTimeout(() => {
                  productModal.hide();
                  this.getAllProduct();
                }, 1500);
              })
              .catch((err) => {
                this.setSweetMessageError(err.data.message);
                Swal.fire(sweetMessage);
              });
          },
          editProduct() {
            if (this.currentProduct.imagesUrl.length === 0)
              this.currentProduct.imagesUrl.push("");
            axios
              .put(
                `${url}/api/${path}/admin/product/${this.currentProduct.id}`,
                {
                  data: this.currentProduct,
                }
              )
              .then((res) => {
                this.setSweetMessageSuccess(res.data.message);
                Swal.fire(sweetMessage);
                setTimeout(() => {
                  productModal.hide();
                  this.getAllProduct();
                }, 1500);
              })
              .catch((err) => {
                this.setSweetMessageError(err.data.message);
                Swal.fire(sweetMessage);
              });
          },
          delProduct() {
            axios
              .delete(
                `${url}/api/${path}/admin/product/${this.currentProduct.id}`
              )
              .then((res) => {
                this.setSweetMessageSuccess(res.data.message);
                Swal.fire(sweetMessage);
                setTimeout(() => {
                  delProductModal.hide();
                  this.getAllProduct();
                }, 1500);
              })
              .catch((err) => {
                this.setSweetMessageError(err.data.message);
                Swal.fire(sweetMessage);
              });
          },
          openModal(modalName, item) {
            if (modalName === "productDetailModal") {
              this.currentProduct = { ...item };
              productDetailModal.show();
            } else if (modalName === "productModal") {
              this.currentProduct = { imagesUrl: [] };
              this.isNew = true;
              productModal.show();
            } else if (modalName === "editModal") {
              this.currentProduct = { ...item };
              this.isNew = false;
              productModal.show();
            } else if (modalName === "delProductModal") {
              this.currentProduct = { ...item };
              delProductModal.show();
            }
          },
          setSweetMessageSuccess(res) {
            sweetMessage.icon = "success";
            sweetMessage.title = res;
            sweetMessage.timer = 1500;
          },
          setSweetMessageError(err) {
            sweetMessage.icon = "error";
            sweetMessage.title = err;
            sweetMessage.timer = 2500;
          },
        },
        mounted() {
          this.checkLogin();
          productDetailModal = new bootstrap.Modal(
            this.$refs.productDetailModal
          );
          productModal = new bootstrap.Modal(this.$refs.productModal, {
            keyboard: false,
            backdrop: "static",
          });
          delProductModal = new bootstrap.Modal(this.$refs.delProductModal, {
            keyboard: false,
            backdrop: "static",
          });
        },
      };

      createApp(app).mount("#app");
    </script>
  </body>
</html>
